html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 70px;
}

.error {
    color: red;
}

.jumbotron {
  text-align: center;
  background:rgba(216,216,216,0.8);
}
