{% extends "eduwampus/views/templates/base.html" %}
{% block content %}

<h2>eduwampus :: the ed-tech startup generator</h2>


<h3>From the Field Lab at <a href="http://anestuary.com/">An Estuary.</a></h3>

<section>
    Images are CC-Attribution licensed. Our thanks to:
    <ul>
        <li>D Sharon Pruitt</li>
        <li>The Gates Foundation</li>
        <li>Bob McElroy (USAG Brussels)</li>
        <li>USAG Humphreys</li>
        <li>US Embassy Pakistan</li>
        <li>Wonderlane/Flickr </li>
        <li>tho-be / deviant art</li>
        <li>World Bank Photo Collection</li>
        <li>IITA Image Library</li>
        <li>US Pacific Command</li>
        <li>Lucélia Ribiero</li>
        <li>FMWRC US Army</li>
        <li>Gulliver Schools</li>
        <li>Atli Harðarson</li>
        <li>One Laptop per Child</li>
        <li>woodleywonderworks</li>
        <li>John Morgan</li>
        <li>wecometolearn</li>
    </ul>
</section>

{% endblock %}
