{% extends "eduwampus/views/templates/base.html" %}
{% block content %}
 <div class="jumbotron">
    <!--<h1 id="company-name">{{name}}</h1>
    <h2 id="catchphrase">{{catchphrase}}</h2>-->
     <div id="company">
         <h1>The EdTech Startup Generator</h1>
         <h3>Click the button to start!</h3>
     </div>
     <div>
         <a href="#" id="generate" class="generate btn btn-primary"> Generate!</a>
     </div>
     <div id="angel">
     </div>
     <div class="pull-right" id="twitter-area">


     </div>
 </div>

 <div class="row-fluid">
    <div class="span8">
    {{content|safe}}
    </div>
 </div>
{% endblock %}
